<div
  class="tab-pane fade show active"
  id="show-image"
  role="tabpanel"
  aria-labelledby="home-tab"
>
  <div class="row">
    <% for(let x= 0; x < item.imageId.length; x++){ %>
    <div class="card mr-3 shadow mb-4 mt-2">
      <div class="card-header py-3"></div>
      <div class="card-body">
        <img
          src="https://eki-admin-staycation.herokuapp.com/<%= item.imageId[x].imageUrl %>"
          alt="item image"
          width="350px"
          class="img-fluid"
        />
      </div>
    </div>
    <%}%>
  </div>
  <a
    href="https://eki-admin-staycation.herokuapp.com/admin/item"
    class="btn btn-warning shadow-sm text-center"
    ><i class="fas fa-arrow-left"></i> BACK</a
  >
</div>
