<div
  class="tab-pane fade"
  id="show-activity"
  role="tabpanel"
  aria-labelledby="home-tab"
>
  <div class="card shadow mb-4 mt-2">
    <div class="card-header py-3">
      <h1>Avctivity</h1>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="card-body">
          <form
            action="/admin/bank"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Enter name"
                required
              />
            </div>
            <div class="form-group">
              <label for="type">Type</label>
              <input
                type="text"
                name="type"
                id="type"
                class="form-control"
                placeholder="Enter Type"
                required
              />
            </div>
            <div class="form-group">
              <label for="image">Image</label>
              <input
                type="file"
                name="image"
                id="image"
                class="form-control border-0"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
        </div>
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <div class="table-responsive">
            <table
              class="table table-bordered"
              id="mydatatable"
              width="100%"
              cellspacing="0"
            >
              <thead>
                <tr>
                  <th>No</th>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Image URL</th>
                  <th>Action</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
